body {
    color: black;
    background-color: black;
    margin: 0px;
}


#minecraft_logo {
    text-align: center;
    margin: 10px;
}
#minecraft_logo img {
    height: 50px;
}

#overworld-body {
    background-image: url(kepek/overworld/dirt.png);
}
#nether-body {
    background-image: url(kepek/nether/netherrack.png);
}
#end-body {
    background-image: url(kepek/end/endstone.png);
}

#overworld_nav ul {
    background-color: #006c00;
}

#overworld_nav li a {
    color: #ffffff;
}
#overworld_nav li a:hover {
    background-color: #00631e;
}
#overworld_nav .active {
    background-color: #00550b;
}

#nether_nav ul {
    background-color: #800000;
}
#nether_nav li a {
    color: #ffffff;
}
#nether_nav li a:hover {
    background-color: #b90000;
}
#nether_nav .active {
    background-color: #9e0000;
}

#end_nav ul {
    background-color: #75675a;
}
#end_nav li a {
    color: #ffffff;
}
#end_nav li a:hover {
    background-color: #605348;
}
#end_nav .active {
    background-color: #52463b;
}

#overworld_nav, #nether_nav, #end_nav {
    border: 3px solid black;    
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
li {
    float: left;
} 
li a {
    display: block;
    text-align: center;
    padding: 15px 40px;
    text-decoration: none;
} 

main {
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-areas: "he he"
                         "as na"
                         "as ar"
                         "fo fo";
}

.h1 {
    margin: 20px;
    background-color: #e6eff4;
    border: 3px solid black;
    background-image: url(kepek/bright_stone.png);
}
.h2 {
    margin: 20px;
    background-color: #e6eff4;
    border: 3px solid black;
    background-image: url(kepek/bright_stone.png);
}

header {
    grid-area: he;
}
nav {
    grid-area: na;
}
article {
    grid-area: ar;
    margin: 10px;
    margin-left: 0px;
}
aside {
    grid-area: as;
    background-color: #e6eff4;
    margin: 10px;
    margin-top: 0px;
    border: 3px solid black;
    background-image: url(kepek/bright_stone.png);
}
footer {
    grid-area: fo;
    text-align: center;
    padding: 10px;
    background-color: #e6eff4;
    height: 100px;
    background-image: url(kepek/obsidian.png);
    background-size: 150px;
    color: white;
    border-top: 3px solid black;
}
@media screen and (max-width:700px) {
    main {
        grid-template-columns: 1fr;
        grid-template-areas: "he"
                             "na"
                             "as"
                             "ar"
                             "fo";
    }
    article {
        grid-template-columns: 1fr;
        margin-left: 10px;
    }
    aside {
        grid-template-columns: 2fr;
        margin-top: 10px;
    }
}