body {
    color: white;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #666666;
}
li {
    float: left;
} 
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
} 
li a:hover {
    background-color: #cccccc;
}
.active {
    background-color: #999999;
}

#minecraft_logo {
    height: 50px;
    text-align: center;
}

#overworld-body {
    background-image: url(kepek/overworld/dirt.png);
}
#nether-body {
    background-image: url(kepek/nether/netherrack.png);
}
#end-body {
    background-image: url(kepek/end/endstone.png);
}